.item-card {
    background-color: black;
    text-align: center;
    padding: 1rem;
    width: 15rem;
    height: 20rem;
    display: inline-grid;
    margin: 1rem 2rem;
    border-radius: 10px;
}

.item-image {
    justify-self: center;
    width:  200px;
    height: 240px;
    object-fit: cover;

    border-radius: 10px;
}
